.product_name{
  display: flex;
}
.product_detail{
  text-align: center;
}
.form_group{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.form-control{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.product_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
* {
  font-family: 'Nanum Gothic Coding', sans-serif;
 }